.header__logo {
  flex-shrink: 0;
  width: 435px;
  height: 60px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.header__wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__nav {
  margin-left: auto;
}
.header__nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-menu__link {
  padding: 5px;
  font-weight: 500;
  font-size: 22px;
  line-height: 160%;
  color: $brand-black;
  &.width-dropdown {
    color: $brand-orange;
    gap: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    .arrow {
      width: 8px;
      height: 8px;
    }
  }
}

.categories__menu {
  display: none;
  padding: 20px 0;
  background: #ffffff;
  box-shadow: 0px 10px 10px rgba(32, 32, 32, 0.1);
}
.categories__menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  align-items: stretch;
  justify-content: flex-start;
}

.category-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  padding: 12px 18px;
  display: flex;
  display: flex;
  gap: 12px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  color: $brand-gray;
  .count {
    color: $brand-black;
    font-weight: 500;
  }
}
