// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

$index: calc(1vw + 1vh);

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// *::selection {
//   background: #fff;
//   color: #000;
// }

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 15px;
  &.large {
    max-width: 1870px;
  }

  @media screen and (max-width: $smDesktopWidth) {
    // max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }

  &.small {
    max-width: 936px;
  }
}

@import "./common.scss";

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 160%;
}

.category-nameplane {
  width: fit-content;
  padding: 5px 10px;
  background: #046b61;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
}

.gray-selection {
  background: #f0f0f0;
  color: $brand-gray;
}

.gray-selection,
.orange-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  padding: 2px 10px;
  .ico {
    width: 15px;
    height: 15px;
    overflow: hidden;
    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.orange-selection {
  background: #fff1e1;
  color: $brand-orange;
}
.show-counter {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: $brand-gray;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
}

.header__logo {
  flex-shrink: 0;
  width: 435px;
  height: 60px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.header__wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__nav {
  margin-left: auto;
}
.header__nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-menu__link {
  padding: 5px;
  font-weight: 500;
  font-size: 22px;
  line-height: 160%;
  color: $brand-black;
  &.width-dropdown {
    color: $brand-orange;
    gap: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    .arrow {
      width: 8px;
      height: 8px;
    }
  }
}

.categories__menu {
  display: none;
  padding: 20px 0;
  background: #ffffff;
  box-shadow: 0px 10px 10px rgba(32, 32, 32, 0.1);
}
.categories__menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  align-items: stretch;
  justify-content: flex-start;
}

.category-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  padding: 12px 18px;
  display: flex;
  display: flex;
  gap: 12px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  color: $brand-gray;
  .count {
    color: $brand-black;
    font-weight: 500;
  }
}

.slider-section__wrapper {
  background-image: url("../img/main-slider-bg.svg");
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 70px;
}

.main-slider {
  .main-slider__slide {
    display: flex;
    gap: 60px;
    align-items: stretch;
  }
  .slide-item__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 34px;
    flex: 0 0 41%;
  }
  .category-nameplane {
    margin-bottom: 20px;
  }
  .slide-item__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 160%;
    margin-bottom: 20px;
    @include pruning(2);
  }
  .slide-item__descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    @include pruning(6);
  }
  .slide-item__iamge {
    max-height: 520px;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .slide-item__footer {
    margin-top: auto;
  }
  .slide-item__footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .btn {
      margin-left: auto;
    }
    .gray-selection {
      margin-right: 10px;
    }
    .orange-selection {
      margin-left: 20px;
      margin-right: 10px;
    }
  }

  .main-slider__navigation {
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after,
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
      display: none;
    }
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .swiper-button-prev.cube,
  .swiper-button-next.cube {
    margin: 0;
    position: static;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(247, 147, 29, 0.6);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-button-prev.cube {
    padding-right: 3px;
  }
  .swiper-button-next.cube {
    padding-left: 3px;
  }
  .swiper-pagination.lines {
    position: static;
    .swiper-pagination-bullet {
      border-radius: 0;
      transition: background-color 0.3s ease-in-out;
      width: 30px;
      height: 2px;
      background: #c5c5c5;
      opacity: 1;
      &.swiper-pagination-bullet-active {
        background-color: $brand-orange;
      }
    }
  }
}
