// тк мы к ним обращаемся везде ниже
@import "fonts.scss";
@import "utils/reset";
@import "utils/vars";
@import "vendors/vendors";

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

$index: calc(1vw + 1vh);

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// *::selection {
//   background: #fff;
//   color: #000;
// }

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 15px;
  &.large {
    max-width: 1870px;
  }

  @media screen and (max-width: $smDesktopWidth) {
    // max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: 98%;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: 100%;
  }

  @media screen and (max-width: $smPhoneWidth) {
    padding: 0 10px;
  }

  &.small {
    max-width: 936px;
  }
}

@import "./common.scss";

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 160%;
  &.small {
    font-size: 28px;
  }
}

.category-nameplane {
  width: fit-content;
  padding: 5px 10px;
  background: #046b61;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
}

.gray-selection {
  background: #f0f0f0;
  color: $brand-gray;
}

.gray-selection,
.orange-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  padding: 2px 10px;
  .ico {
    width: 15px;
    height: 15px;
    overflow: hidden;
    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.orange-selection {
  background: #fff1e1;
  color: $brand-orange;
}
.show-counter,
.likes-counter {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: $brand-gray;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
}

.header__logo {
  flex-shrink: 0;
  width: 435px;
  height: 60px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.header__wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__nav {
  margin-left: auto;
}
.header__nav-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-menu__link {
  padding: 5px;
  font-weight: 500;
  font-size: 22px;
  line-height: 160%;
  color: $brand-black;
  &.width-dropdown {
    color: $brand-orange;
    gap: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    .arrow {
      width: 8px;
      height: 8px;
    }
  }
}

.categories__menu {
  display: none;
  padding: 20px 0;
  background: #ffffff;
  box-shadow: 0px 10px 10px rgba(32, 32, 32, 0.1);
}
.categories__menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  align-items: stretch;
  justify-content: flex-start;
}

.category-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  padding: 12px 18px;
  display: flex;
  display: flex;
  gap: 12px;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  color: $brand-gray;
  .count {
    color: $brand-black;
    font-weight: 500;
  }
}

.slider-section__wrapper {
  background-image: url("../img/main-slider-bg.svg");
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 70px;
}

.main-slider {
  .main-slider__slide {
    display: flex;
    gap: 60px;
    align-items: stretch;
  }
  .slide-item__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 34px;
    flex: 0 0 41%;
  }
  .category-nameplane {
    margin-bottom: 20px;
  }
  .slide-item__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 160%;
    margin-bottom: 20px;
    @include pruning(2);
  }
  .slide-item__descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 20px;
    @include pruning(6);
  }
  .slide-item__iamge {
    width: 100%;
    min-height: 520px;
    overflow: hidden;
    border-radius: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .slide-info {
    display: flex;
    margin-right: auto;
    gap: 30px;
  }
  .slide-item__footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    // .gray-selection {
    //   margin-right: 10px;
    // }
    // .orange-selection {
    //   margin-left: 20px;
    //   margin-right: 10px;
    // }
  }
}

.info-wrapper,
.counters-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider-bottom__navigation {
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after,
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    display: none;
  }
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-button-prev.cube,
.swiper-button-next.cube {
  margin: 0;
  position: static;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(247, 147, 29, 0.6);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev.cube {
  padding-right: 3px;
}
.swiper-button-next.cube {
  padding-left: 3px;
}
.swiper-pagination.lines {
  position: static;
  .swiper-pagination-bullet {
    border-radius: 0;
    transition: background-color 0.3s ease-in-out;
    width: 30px;
    height: 2px;
    background: #c5c5c5;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background-color: $brand-orange;
    }
  }
}

.news-section {
  padding-bottom: 40px;
  background-color: #f0f0f0;
  position: relative;
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    content: "";
    background-color: #fff;
    height: 405px;
  }
  padding-top: 65px;
  .news-section__nav-slider-wrapper {
    max-width: 83%;
    // width: 100%;
    position: relative;
    display: flex;
    align-items: center;
  }
  .swiper-button-prev.nav-slider,
  .swiper-button-next.nav-slider {
    flex-shrink: 0;
    position: static;
    margin: 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
      display: none;
    }
  }
  .news-section__nav-slider {
    &::before {
      position: absolute;
      bottom: -12px;
      left: 40px;
      right: 40px;
      content: "";
      height: 2px;
      background-color: #d9d9d9;
    }
    &.end::after {
      opacity: 0;
      visibility: hidden;
    }
    overflow: hidden;
    &::after {
      position: absolute;
      content: "";
      right: 37px;
      top: 0;
      bottom: 0px;
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 0) 0%,
        rgba(255, 255, 255, 0.7) 70%,
        rgba(255, 255, 255, 1) 100%
      );
      z-index: 2;
      background-clip: text;
      width: 120px;
      opacity: 1;
      visibility: visible;
      transition: opacity 0.12s ease-in-out, visibility 0.12s ease-in-out;
    }
    width: 100%;
    padding-bottom: 12px;
  }
  .category-item {
    &:not(:last-child) {
      margin-right: 60px;
    }
    position: relative;
    &:before {
      position: absolute;
      bottom: -12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $brand-black;
      content: "";
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    cursor: pointer;
    width: fit-content;
    color: $brand-gray;
    transition: color 0.25s ease-in-out;
    &.active {
      color: $brand-black;
    }
    &:hover::before {
      opacity: 1;
    }
  }
}

.news-section__head {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.link__more {
  width: fit-content;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: $brand-orange;
  display: flex;
  align-items: center;
  gap: 10px;
  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 8px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.3536 4.35355C15.5488 4.15829 15.5488 3.84171 15.3536 3.64645L12.1716 0.464466C11.9763 0.269204 11.6597 0.269204 11.4645 0.464466C11.2692 0.659728 11.2692 0.976311 11.4645 1.17157L14.2929 4L11.4645 6.82843C11.2692 7.02369 11.2692 7.34027 11.4645 7.53553C11.6597 7.7308 11.9763 7.7308 12.1716 7.53553L15.3536 4.35355ZM0 4.5H15V3.5H0V4.5Z' fill='%23F7931D'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &.link__more-white {
    color: #fff;
    &::after {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='8' viewBox='0 0 16 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.3536 4.35355C15.5488 4.15829 15.5488 3.84171 15.3536 3.64645L12.1716 0.464466C11.9763 0.269204 11.6597 0.269204 11.4645 0.464466C11.2692 0.659728 11.2692 0.976311 11.4645 1.17157L14.2929 4L11.4645 6.82843C11.2692 7.02369 11.2692 7.34027 11.4645 7.53553C11.6597 7.7308 11.9763 7.7308 12.1716 7.53553L15.3536 4.35355ZM0 4.5H15V3.5H0V4.5Z' fill='white'/%3e%3c/svg%3e ");
    }
  }
}

.news-section__body {
  min-height: 730px;
  padding-top: 40px;
  .category-slider {
    overflow: hidden;
  }
  .category-slide {
    .gray-selection,
    .orange-selection {
      font-size: 12px;
    }
    min-height: 620px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &:hover {
      .category-slide__head:before {
        opacity: 1;
      }
    }
  }
  .category-slide__head {
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: rgba(247, 147, 29, 0.4) url(../img/category-before-line.png)
        no-repeat bottom right;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    .category-slide__image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .category-nameplane {
      z-index: 2;
      position: absolute;
      left: 20px;
      bottom: 20px;
    }
  }

  .category-slide__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 20px;
    color: $brand-black;
  }

  .category-slide__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $brand-gray;
    margin-bottom: 20px;
    @include pruning(6);
  }

  .category-slide__body {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: auto;
  }
  .slide-item__footer {
    gap: 10px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.title-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 90px;
}

.section-surveys {
  padding-top: 70px;
  position: relative;

  .survey {
    padding-bottom: 130px;
    position: relative;
    z-index: 3;
    padding-left: 175px;
    width: 50%;
    .btn {
      margin-top: 40px;
    }
  }
  .survey__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    margin-bottom: 40px;
  }
  .survey__item {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: $brand-gray;
    max-width: 520px;
    position: relative;
    .survey__input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
    }
  }
  .survey__text {
    cursor: pointer;
    display: flex;
    gap: 21px;
    &:before {
      margin-top: 10px;
      flex-shrink: 0;
      width: 10px;
      height: 10px;
      border: 1px solid $brand-gray;
      content: "";
      display: block;
    }
  }
  .survey__input:checked + .survey__text:before {
    background-color: $brand-orange;
    border-color: $brand-orange;
  }
  .survey__wrapper {
    max-width: 650px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 20px;
      left: -60px;
      transform: translateX(-100%);
      background-color: $brand-black;
      width: 38px;
      height: 2px;
    }
    &:before {
      content: "";
      position: absolute;
      left: -60px;
      transform: translateX(-100%);
      top: 20px;
      height: 2px;
      width: 30vw;
      background-color: #d9d9d9;
    }
  }
}

.inclined-block {
  display: flex;
  height: 100%;
  width: 55%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  clip-path: polygon(41% 0, 100% 0, 100% 32%, 72% 100%, 0 100%);
  .inclined-block__image {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 38, 35, 0.75) 26.37%,
        rgba(4, 107, 97, 0.3) 78.35%
      );
    }
  }
}

.inclined-block__content {
  margin-left: 22%;
  max-width: 575px;
  padding-bottom: 64px;
  color: #fff;
  margin-top: auto;
  position: relative;
  z-index: 2;
  .inclined-block__postscript {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
  }
  .inclined-block__tile {
    font-weight: 700;
    font-size: 28px;
    line-height: 160%;
    margin-bottom: 43px;
    position: relative;
    @include pruning(2);
    &:before {
      position: absolute;
      content: "";
      bottom: -8px;
      right: 0;
      width: 140%;
      height: 2px;
      background-color: rgba(217, 217, 217, 0.7);
    }
  }
  .inclined-block__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    @include pruning(3);
  }
  .inclined-block__footer {
    width: 90%;
    padding-top: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}

.industry-events {
  position: relative;
  padding-top: 50px;
  padding-bottom: 130px;
  background-color: #f5f5f5;
  overflow: hidden;
  .title-wrapper {
    margin-bottom: 70px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -9px;
      height: 2px;
      width: 100vw;
      background-color: #d9d9d9;
    }
    .section-title {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -9px;
        height: 2px;
        width: 100%;
        background-color: $brand-black;
      }
    }
  }
}

.industry-events__bg {
  position: absolute;
  right: 0;
  transform: translateX(-23.1%);
  top: 0;
  width: 67%;
  height: 100%;
  background: linear-gradient(0deg, #eeeeee 48.26%, #f1eedd 100%);
  clip-path: polygon(41% 0, 100% 0, 59% 100%, 0% 100%);
}

.industry-events__list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.industry-event {
  width: 50%;
  padding: 20px 10px;
}

.industry-event__wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
.event-block__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translate(-20px, 20px);
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  min-height: 270px;
  .slide-item__footer {
    flex-wrap: wrap;
    .gray-selection {
      font-size: 12px;
    }
    width: 100%;
    margin-top: auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
}
.event-block__image {
  flex-shrink: 0;
  width: 300px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.event-block__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: $brand-black;
  margin-bottom: 20px;
}

.event-block__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: $brand-gray;
  margin-bottom: 15px;
}

.media-section {
  padding-top: 70px;
  padding-bottom: 50px;
  background: #202020;
  overflow: hidden;
  position: relative;
  .section-title {
    color: #fff;
  }
  .media-section__bg {
    clip-path: polygon(36% 0%, 57% 0, 35% 100%, 14% 100%);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(247, 81, 29, 0.38) 48.26%,
      rgba(247, 147, 29, 0.076) 100%
    );
  }
}

.media-section__slider {
  display: none;
  overflow: hidden;
  &.show {
    display: block;
    animation: fromOpacity 0.8s ease-in-out forwards;
  }
}

@keyframes fromOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.media-section__slide {
  .slide-image {
    position: relative;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 397px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .slide-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #fff;
  }
  &:hover {
    .slide-hover {
      opacity: 1;
      &::before {
        width: 60px;
        height: 60px;
      }
    }
  }
  .category-nameplane {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    svg path {
      fill: #fff;
    }
  }
}

.slide-hover {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(32, 32, 32, 0.4),
    rgba(32, 32, 32, 0.4)
  );
  &::before {
    transition: width 0.2s ease-in-out 0.08s, height 0.2s ease-in-out 0.08s;
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &._video::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='51' height='51' viewBox='0 0 51 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M32.7511 23.8725C33.8678 24.6702 33.8678 26.3298 32.7511 27.1275L23.4125 33.7979C22.0887 34.7434 20.25 33.7972 20.25 32.1704L20.25 18.8296C20.25 17.2028 22.0887 16.2566 23.4125 17.2021L32.7511 23.8725Z' stroke='white' stroke-width='2'/%3e%3crect x='1.5' y='1.5' width='48' height='48' rx='9' stroke='white' stroke-opacity='0.4' stroke-width='2'/%3e%3c/svg%3e ");
  }

  &._photo::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.62233 7.54299C2.53485 9.03239 3.74652 10.489 5.13339 11.5959C6.64674 12.8037 8.31503 13.5542 10 13.5542C11.685 13.5542 13.3532 12.8037 14.8666 11.5959C16.2535 10.489 17.4651 9.03238 18.3777 7.54298C17.2756 6.05806 16.1196 4.58514 14.7996 3.45013C13.3787 2.22827 11.8222 1.44578 10 1.44578C8.17785 1.44578 6.62138 2.22828 5.20042 3.45015C3.88047 4.58517 2.72444 6.05808 1.62233 7.54299ZM4.22101 2.36539C5.80753 1.00115 7.69831 0 10 0C12.3017 0 14.1925 1.00113 15.779 2.36536C17.3543 3.71989 18.6827 5.47905 19.8607 7.07802C20.0288 7.30619 20.0461 7.60876 19.9052 7.85382C18.8968 9.6071 17.4821 11.3761 15.8045 12.715C14.1303 14.0512 12.1404 15 10 15C7.85956 15 5.8697 14.0512 4.19552 12.715C2.51784 11.3761 1.10313 9.6071 0.0947883 7.85381C-0.0461518 7.60875 -0.0287863 7.30618 0.139315 7.07801C1.3173 5.47907 2.64577 3.71992 4.22101 2.36539ZM6.48148 7.5C6.48148 5.63468 8.08438 4.17053 10 4.17053C11.9156 4.17053 13.5185 5.63468 13.5185 7.5C13.5185 9.36532 11.9156 10.8295 10 10.8295C8.08438 10.8295 6.48148 9.36532 6.48148 7.5ZM10 5.61631C8.84728 5.61631 7.96296 6.48609 7.96296 7.5C7.96296 8.51391 8.84728 9.38369 10 9.38369C11.1527 9.38369 12.037 8.51391 12.037 7.5C12.037 6.48609 11.1527 5.61631 10 5.61631Z' fill='white'/%3e%3c/svg%3e ");
  }
}

.media-section__head {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  .title-wrapper {
    margin-bottom: 0;
  }
}
.media-section__slider-toggle {
  position: relative;
  &:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 50vw;
    height: 2px;
    background-color: #8a8a8a;
  }
  margin-right: 25%;
  display: flex;
  gap: 20px;
  .toggle__btn {
    cursor: pointer;
    position: relative;
    &:before {
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #8a8a8a;
    &.active {
      color: #fff;
      &:before {
        opacity: 1;
      }
    }
  }
}
