@media (max-width: 1700px) {
  .nav-menu__link {
    font-size: 20px;
  }
  .header__logo {
    width: 380px;
  }
  .header__nav-menu {
    gap: 30px;
  }
}
@media (max-width: 1500px) {
  .nav-menu__link {
    font-size: 18px;
  }
  .header__nav-menu {
    gap: 20px;
  }
  .header__wrapper {
    gap: 30px;
  }
  .narrow-col {
    padding-left: 40px;
    padding-right: 40px;
  }
  .narrow-col__container .survey {
    padding-left: 30px;
  }
}

@media (max-width: 1380px) {
  .narrow-col__container {
    .survey__title {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .survey .survey__text {
      font-size: 14px;
    }
    .survey__item {
      margin-bottom: 10px;
    }
  }
  .header__logo {
    max-width: 300px;
  }
  .header__wrapper {
    padding: 20px 0;
    justify-content: space-between;
  }
  .mobile-close-btn {
    display: block;
  }
  .mobile-menu-btn {
    display: flex;
  }
  .header__nav {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50%);
    &.show {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out,
      transform 0.3s ease-in-out;
    width: 100%;
    max-width: 500px;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #fff;
    overflow: auto;
    box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.32);
    z-index: 20;
  }
  .header__nav-menu {
    gap: 0;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 80px;
  }
  .categories__menu-list {
    justify-content: flex-end;
  }
  .header__nav-menu > .list-item {
    padding: 10px;
    padding-right: 20px;
    width: 100%;
    text-align: right;
  }
  .width-dropdown .nav-menu__link {
    gap: 20px;
    align-items: stretch;
    text-align: right;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .width-dropdown .nav-menu__link .arrow {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .categories__menu {
    padding: 0;
    padding-top: 10px;
    display: none;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    position: static;
    background-color: transparent;
    .container.large {
      padding: 0;
    }
  }
  .category-link {
    padding: 8px 14px;
  }
  .categories__menu-list {
    gap: 10px;
  }
}

@media (max-width: 680px) {
  .header__logo {
    width: 100%;
    flex-shrink: inherit;
  }
}

@media (max-width: 1480px) {
  .categoryes-head__screen .screen__content {
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .main-slider .slide-item__footer {
    gap: 20px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .main-slider .slide-item__title {
    font-size: 32px;
    line-height: 140%;
  }
}

@media (max-width: 1380px) {
  .main-slider .slide-item__content {
    padding: 0;
    flex: 0 0 50%;
  }
  .main-slider .slide-info {
    flex-wrap: wrap;
    gap: 10px;
  }
  .main-slider .main-slider__slide {
    gap: 20px;
  }
  .news-section .news-section__nav-slider-wrapper {
    max-width: 100%;
  }
  .news-section__head {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 992px) {
  .archive-section__slide .slide-item__before {
    opacity: 0 !important;
  }
  .archive-section__slide.swiper-slide-active {
    .slide-item__before {
      opacity: 1 !important;
    }
  }
  .news-section .category-item:not(:last-child) {
    margin-right: 30px;
  }
  .archive-section__slider {
    width: 100%;
  }
  .archive-section .swiper-button-prev,
  .archive-section .swiper-button-next {
    display: none;
  }
  .archive-section .slider-bottom__navigation {
    display: none;
  }
  .media-section .media-section__bg {
    clip-path: polygon(56% 0%, 87% 0, 55% 100%, 22% 100%);
  }
  .main-slider .main-slider__slide {
    flex-direction: column-reverse;
  }
  .slider-section__wrapper {
    padding-top: 0;
    background: none;
  }
  .main-slider .category-nameplane {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .main-slider .slide-item__descr {
    font-size: 16px;
  }
  .news-section .swiper-button-prev,
  .news-section .swiper-button-next {
    display: none !important;
  }
  .news-section .news-section__nav-slider::before {
    left: 0;
    right: 0;
  }
  .news-section .news-section__nav-slider::after {
    right: 0;
    width: 50px;
  }

  .news-section__body .category-slide__head .category-nameplane {
    bottom: inherit;
    left: 10px;
    top: 10px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .article__small-slider-container {
    margin-bottom: 30px;
  }
  .polls-list .survey {
    padding: 20px;
  }
  .winner__content {
    flex-direction: column;
  }
  .contest__title {
    margin-bottom: 20px;
  }
  .winner__wrapper,
  .winner__auth,
  .winner-like {
    width: 100%;
  }
  .winner-like {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contests-modal .modal__auth {
    gap: 10px;
  }
  .modal-slider__body .swiper-slide {
    height: 50vh;
  }
  .modal-slider__footer .contest__title {
    font-size: 24px;
  }
  .slider__footer-wrapper {
    flex-direction: column;
  }
  .modal-slider__footer .like-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
  }
  .modal-slider__body .swiper-button-prev,
  .modal-slider__body .swiper-button-next {
    display: none;
  }
  .contests-modal .modal-slider-content {
    padding: 0px 10px;
  }
  .current-contest-section {
    padding-top: 30px;
  }
  .members-list .list-item__auth {
    gap: 10px;
  }
  .members-list .auth__name {
    font-size: 16px;
  }
  .categoryes-body__list {
    margin-right: 0;
    margin-left: 0;
  }
  .categoryes-body__list .list-item {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
  }
  .article__large-wrapper {
    padding-bottom: 40px;
  }
  .article-tilte {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .article-descr {
    margin-bottom: 20px;
  }
  .wide-col__wrapper {
    flex-wrap: wrap;
  }
  .article__combo-wrapper .date-block {
    width: 100%;
  }
  .wide-container,
  .article__video-container,
  .img-ban-container {
    margin-bottom: 30px;
  }
  .border-container,
  .article__large-slider-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .slider-section__wrapper,
  .media-section__slider {
    .swiper-button-prev.cube,
    .swiper-button-next.cube {
      display: none;
    }
  }
  .categoryes-body {
    padding-top: 30px;
  }
  .archive-section,
  .media-section,
  .section-surveys,
  .industry-events {
    padding-top: 40px;
  }
  .industry-events,
  .archive-section,
  .categoryes-body {
    padding-bottom: 40px;
  }
  .article__table-wrapper {
    overflow: auto;
  }

  .article__large-slider-container .slider-bottom__navigation {
    padding-right: 15px;
  }
  .article__small-slider .swiper-button-prev {
    left: 15px;
  }
  .article__small-slider .swiper-button-next {
    right: 15px;
  }
  .article__table-wrapper {
    padding-right: 10px;
  }
  .article__table {
    width: 750px;
  }
  .float-contaeiner__block {
    float: none;
  }
  .float-contaeiner__block {
    max-width: 438px;
    width: 100%;
  }
  // .atricle__small-wrapper,
  // .article__combo-wrapper {
  //   overflow: visible;
  // }
}

@media (max-width: 1850px) {
  .inclined-block {
    clip-path: polygon(41% 0, 100% 0, 100% 32%, 100% 100%, 0 100%);
  }
  .industry-events__bg {
    width: 100%;
    transform: translateX(0);
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 18% 100%);
  }
  .inclined-block__content {
    padding-right: 30px;
  }
}

@media (max-width: 1640px) {
  .article__col.first-col {
    display: none;
  }
  .article__col.image-col {
    flex: 0 0 78%;
  }
  .article__combo-wrapper .wide-col {
    flex: 0 0 100%;
  }
  .float-contaeiner__block {
    margin: 20px;
    margin-left: 0;
  }
  .members-list .list-item,
  .video-list .list-item {
    width: 33.33%;
  }
}

@media (max-width: 1500px) {
  .inclined-block__content .inclined-block__tile {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .inclined-block__content .inclined-block__text {
    font-size: 16px;
  }
  .inclined-block__content .inclined-block__footer {
    width: 100%;
    padding-top: 40px;
  }
  .section-surveys {
    .survey {
      padding-left: 0;
    }
    .title-wrapper {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 1480px) {
  .winner-item .winner__img {
    margin-left: 0;
  }
  .winner-item .winner__position {
    left: 10px;
    top: 10px;
    box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }
  .winner-item {
    gap: 30px;
  }
  .search-head__wrapper {
    flex-wrap: wrap;
  }
  .search-field {
    max-width: inherit;
  }
  .industry-event {
    width: 100%;
  }
  .industry-events__bg {
    display: none;
  }
}

@media (max-width: 1200px) {
  .article__small-slider,
  .article__large-slider {
    padding-left: 15px;
    padding-right: 15px;
  }
  .polls-list .list-item {
    width: 100%;
    padding: 10px 0;
  }
  .polls-list {
    margin-left: 0;
    margin-right: 0;
  }
  .members-list .list-item,
  .video-list .list-item {
    width: 50%;
  }
  .article__small-slider .swiper-button-prev,
  .article__small-slider .swiper-button-next {
    bottom: 0;
    top: inherit;
    transform: translate(0);
    z-index: 11;
  }
  .offset-wraper {
    padding: 0;
  }
  .article__small-slider {
    padding-bottom: 50px;
    .swiper-pagination.lines {
      margin-top: 0;
      bottom: 18px;
      position: absolute;
    }
  }
  // .article__combo-wrapper {
  //   overflow: hidden;
  // }
  .atricle__small-wrapper,
  .article__combo-wrapper {
    overflow: visible;
  }
  .offset-wraper,
  .article__large-slider {
    margin-right: -15px;
    margin-left: -15px;
    width: auto;
  }
  .article__combo-wrapper .wide-col {
    width: 100%;
  }
  .article {
    padding-top: 0;
  }
  .article__large-wrapper {
    flex-wrap: wrap;
  }
  .article__col.nameplate-col {
    padding-left: 0;
    order: -1;
    flex: 0 0 100%;
    margin-bottom: 10px;
  }
  .article__col.image-col {
    flex: 0 0 100%;
    width: 100%;
  }
  .narrow-col {
    display: none;
  }
  .atricle__small-wrapper {
    flex: 0 0 100%;
    width: 100%;
  }
  .wide-container,
  .offset-wraper,
  .border-container,
  .article__large-slider-container {
    max-width: inherit;
  }
  .inclined-block .inclined-block__image::before {
    background: linear-gradient(
      0deg,
      rgba(0, 38, 35, 0.75) 26.37%,
      rgba(4, 107, 97, 0.6) 78.35%
    );
  }
  .title-wrapper {
    gap: 20px;
  }
  .section-surveys {
    padding-top: 40px;
  }
  .section-surveys .survey {
    padding-bottom: 50px;
    width: 100%;
  }
  .survey__wrapper {
    max-width: inherit;
  }
  .inclined-block__content {
    margin-left: 0;
    padding: 20px;
    max-width: inherit;
  }
  .inclined-block {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    width: 100%;
    clip-path: none;
  }
  .industry-events {
    padding-bottom: 60px;
  }
}

@media (max-width: 1100px) {
  .footer__end {
    flex-direction: column;
    justify-content: center;
    .text-wrap {
      justify-content: center;
      gap: 10px;
    }
  }
  .categoryes-body__list .list-item {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .categoryes-head {
    padding: 20px 0;
  }
  .categoryes-head__screen .screen__content {
    padding: 20px;
  }
  .categoryes-head__list {
    display: none;
  }
  .categoryes-head__screen .screen__image {
    position: static;
    height: 50vw;
  }
  .categoryes-head__screen .screen__content .screen__title {
    font-size: 32px;
  }
  .winner-item {
    flex-direction: column;
  }
  .winner-item .winner__img {
    max-width: inherit;
  }
  .members-list .list-item__image::before,
  .members-list .list-item__btn,
  .contests-list .list-item__descr,
  .slide-hover,
  .event-block__image::before,
  .news-section__body .category-slide__head:before {
    opacity: 1;
  }
  .toggle-btns-wrapper {
    gap: 15px;
  }
  .contests-list .list-item__footer .list-item__btn,
  .contests-list .list-item__image::after {
    width: 100%;
    opacity: 1;
  }
  .contests-list .list-item__image::before {
    display: none;
  }
  .contests-list .list-item {
    width: 50%;
  }
  .contests-list {
    padding-top: 0;
  }
  .toggle-content {
    padding-bottom: 40px;
  }
  .show-more-btn {
    margin-top: 20px;
  }
  .selects-wrapper {
    width: 100%;
    flex-direction: column;
    .dropdown-select {
      width: 100%;
    }
  }

  .search-head__wrapper {
    flex-direction: column;
    .datapicker-input__wrapper {
      width: 100%;
    }
    .datapicker-input__wrapper .datapicker-input {
      padding: 16px 20px;
    }
    .dropdown-select {
      width: 100%;
    }
  }
  .dropdown-select-result {
    max-width: inherit !important;
  }
  .hash-filter-list {
    margin-bottom: 40px;
  }
  .categoryes-body__list .list-item__img:before,
  .categoryes-body__list .list-item__descr,
  .categoryes-body__list .ghost-orange {
    opacity: 1;
  }
}

@media (max-width: 680px) {
  .winners-list {
    padding-top: 20px;
  }
  .video-list {
    padding-top: 0;
  }
  .toggle-btns-wrapper .toggle__btn {
    font-size: 18px;
    padding-left: 0;
    padding-right: 0;
  }
  .members-list .list-item {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  .video-list .list-item {
    width: 100%;
  }
  .members-list {
    margin-right: 0;
    margin-left: 0;
  }
  .toggle-btns-wrapper {
    padding-bottom: 0;
  }
  .toggle-btns-wrapper .toggle__btn::before {
    bottom: 0;
  }
  .contests-list .list-item {
    width: 100%;
    padding: 10px;
  }
  .category-nameplane {
    font-size: 12px;
  }
  .hash-filter-list {
    gap: 5px;
  }
  .lines-head {
    padding-top: 60px;
  }
  .hash-filter-list {
    margin-bottom: 20px;
  }
  .search-field input {
    font-size: 14px;
    padding-left: 30px;
  }
  .search-field::before {
    left: 10px;
    width: 15px;
    height: 15px;
    background-size: contain;
  }
  .large-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .footer__end .text-wrap {
    flex-direction: column;
    text-align: center;
  }
  .footer__start {
    flex-direction: column;
    align-items: center;
  }
  .section-title.small {
    font-size: 24px;
  }
  .title-wrapper {
    width: 100%;
    justify-content: space-between;
  }
  .section-title {
    font-size: 28px;
  }
  .industry-events .title-wrapper .section-title:before {
    display: none;
  }
  .industry-events .title-wrapper {
    margin-bottom: 30px;
  }
  .section-surveys .title-wrapper {
    margin-bottom: 20px;
  }
  .survey__text {
    font-size: 16px;
  }
  .survey__item {
    margin-bottom: 5px;
  }
  .survey__wrapper {
    .survey__title {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  .industry-event__wrapper {
    flex-direction: column;
  }
  .event-block__content {
    transform: translate(0);
    padding: 20px;
  }
  .event-block__image {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}
@media (max-width: 576px) {
  .article__table {
    font-size: 14px;
  }
  .article__table th,
  .article__table td {
    padding: 10px 0;
  }
  .categoryes-head__screen .screen__image {
    height: 75vw;
  }
  .categoryes-head__screen .screen__content .screen__title {
    font-size: 28px;
  }
  .categoryes-head {
    padding-top: 0;
  }
  .back-orange-link {
    font-size: 16px;
  }
  .polls-list .survey__item {
    margin-left: -10px;
    margin-right: -10px;
  }
  .polls-list .survey__footer .btn {
    width: 100%;
  }
  .current-contest-section .toggle-btns-wrapper {
    gap: 10px;
  }
  .winner-item {
    gap: 15px;
  }
  .contest__title {
    font-size: 22px;
  }
  .contest-nameplate {
    margin-bottom: 0;
  }
  .wide-picture__wrapper.has-border {
    height: 75vw;
  }
  .article__large-wrapper .article__image-wrapper {
    height: 75vw;
  }
  .article__large-slider,
  .article__small-slider-container {
    .swiper-button-prev.cube,
    .swiper-button-next.cube {
      display: none;
    }
  }

  .header__logo {
    max-width: 250px;
  }
  .news-section__body .category-slide__head {
    height: 80vw;
  }
  .media-section .media-section__bg {
    clip-path: polygon(67% 0%, 100% 0, 33% 100%, 0% 100%);
  }
  .news-section__body {
    padding-top: 20px;
  }

  .news-section {
    .slider-bottom__navigation {
      margin-top: 10px;
    }
  }
  .news-section__body {
    min-height: inherit;
  }
  .main-slider .category-nameplane {
    font-size: 12px;
    margin-bottom: 0;
  }
  .main-slider .slide-item__iamge {
    height: 440px;
  }
  .main-slider .main-slider__slide {
    .info-wrapper {
      position: absolute;
      left: 10px;
      top: 400px;
      .gray-selection {
        color: #fff;
        background-color: $brand-black;
      }
    }
  }
  .main-slider .slide-item__title {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .main-slider .slide-item__descr {
    font-size: 14px;
  }
  .main-slider .slide-item__content {
    .btn {
      width: 100%;
    }
  }

  .main-slider {
    .slider-bottom__navigation {
      margin-top: 10px;
    }
  }
  .archive-section__slide {
    margin-right: 20px;
    height: 500px;
    padding-bottom: 0;
  }

  .archive-section__slide.swiper-slide-active {
    width: 280px !important;
  }
  .archive-section__slide.swiper-slide-active .slide-item__image {
    height: 407px !important;
  }
  .archive-section__slider {
    width: auto;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
  }
}

@media (max-width: 460px) {
  .winner__auth,
  .modal__auth {
    padding: 10px;
  }
  .event-block__image {
    height: 80vw;
  }
  .main-slider .slide-item__iamge {
    height: 100vw;
  }
  .main-slider .main-slider__slide .info-wrapper {
    top: 90vw;
  }
}

@media (max-width: 440px) {
  .large-title {
    font-size: 28px;
  }
  .mobile-close-btn {
    width: 25px;
    height: 25px;
  }
  .news-section__body .category-slide__title {
    margin-bottom: 10px;
  }
  .title-wrapper {
    gap: 10px;
  }
  .header__nav-menu > .list-item {
    padding: 0px 10px;
  }
  .header__nav-menu {
    padding-top: 60px;
  }
  .mobile-close-btn {
    top: 15px;
  }
  .header__wrapper {
    padding: 10px 0;
  }
  .header__logo {
    max-width: 148px;
    height: 45px;
  }
  .media-section .media-section__bg {
    display: none;
  }
  .media-section__head {
    margin-bottom: 40px;
  }
}

@media (max-width: 380px) {
  .quote-block {
    padding-left: 0;
    border-left: none;
  }
  .offset-wraper,
  .article__large-slider {
    margin-right: -10px;
    margin-left: -10px;
    // padding-left: 10px;
    width: auto;
  }
  .article__large-slider-container .slider-bottom__navigation {
    padding-right: 10px;
  }
  .article__small-slider .swiper-button-prev {
    left: 10px;
  }
  .article__small-slider .swiper-button-next {
    right: 10px;
  }
  .archive-section__slider {
    width: auto;
    margin-right: -10px;
    margin-left: -10px;
    padding-left: 10px;
  }
  .header__wrapper {
    padding: 8px 0;
  }
  .header__search,
  .mobile-menu-btn {
    width: 20px;
    height: 20px;
  }
}
